fastapi
uvicorn
pydantic
python-dotenv
pymongo
bcrypt
python-jose
passlib[bcrypt]
requests
beautifulsoup4
pillow
torch
ultralytics
pydantic[email]
email-validator
uvicorn[standard]
opencv-python-headless
python-multipart